.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  z-index: 111;
  background-color: #fff;
  width: 100%;
}

.logo img {
  width: 120px;
  height: auto;
}

.menuToggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 12px;
  font-size: 12px;
  padding-right: 42px;
}

.headerTitleList {
  display: flex;
  gap: 12px;
  font-size: 12px;
}

.headerTitleItem {
  cursor: pointer;
}


.headerThemeIcon {
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .menuToggle {
    display: block;
    order: 1;
  }

  .nav {
    display: none;
  }

  .navOpen {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
  }

  .navOpen .headerTitleList {
    flex-direction: column;
    gap: 10px;
  }

  .headerTitleList {
    flex-direction: column;
    gap: 10px;
    display: flex;
  }

  .logo {
    margin: 0 auto;
    order: 2;
  }

  .headerThemeIcon {
    order: 3;
    margin-right: 0;
  }
}