.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  z-index: 111;
  background-color: var(--bg-color);
  width: 100%;
}

.logo img {
  width: 7.5rem;
  height: auto;
}

.menuToggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 0.75rem;
  font-size: 0.75rem;
  padding-right: 2.625rem;
}

.headerTitleList {
  display: flex;
  gap: 0.75rem;
  font-size: 0.75rem;
}

.headerTitleItem {
  cursor: pointer;
  color: var(--text-color);
}

.headerThemeIcon {
  margin-right: auto;
}

@media screen and (max-width: 48rem) {

  .menuToggle {
    display: block;
    order: 1;
  }

  .nav {
    display: none;
  }

  .navOpen {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--boxShadow--color);
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    width: 12.5rem;
  }

  .navOpen .headerTitleList {
    flex-direction: column;
    gap: 0.625rem;
  }

  .headerTitleList {
    flex-direction: column;
    gap: 0.625rem;
    display: flex;
  }

  .logo {
    margin: 0 auto;
    order: 2;
  }

  .headerThemeIcon {
    order: 3;
    margin-right: 0;
  }
}