.orderHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.01875rem solid var(--border--color);
  justify-items: center;
  padding: 0.25rem 0;
}

.orderHeaderItem {
  font-size: 0.75rem;
  font-weight: 500;
}