.orderHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.3px solid var(--border--color);
  justify-items: center;
  padding: 4px 0;
}

.orderHeaderItem {
  font-size: 12px;
  font-weight: 500;
}