.cryptoList {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  padding: 1.125rem;
  border-top: 1px solid var(--border--color);
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.cryptoListVisible {
  opacity: 1;
  transform: translateX(0);
}

.cryptoListHeader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.875rem;
}