.cryptoList {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 18px;
  border-top: 1px solid var(--border--color);
}

.cryptoListHeader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 14px;
}