.cryptoCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 12px;
}

.cryptoCard:hover {
  background-color: var(--title--bg);
  cursor: pointer;
}

.cryptoCardHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cryptoTitle {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--text-color);
}

.cryptoImage {
  width: 32px;
}

.cryptoCode {
  font-size: 10px;
}

.cryptoPrice {
  color: var(--text-color);
}