.cryptoCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 0.75rem;
}

.cryptoCard:hover {
  background-color: var(--title--bg);
  cursor: pointer;
}

.cryptoCardHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cryptoTitle {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--text-color);
}

.cryptoImage {
  width: 2rem;
}

.cryptoCode {
  font-size: 0.625rem;
}

.cryptoPrice {
  color: var(--text-color);
}