.cryptoDetailContainer {
  margin: 12px 120px;
  width: 100%;
  border: 1px solid rgba(29, 29, 29, 0.12);
  border-radius: 6px;
  width: 100%;
  padding: 12px;

}

.sectionHeader {
  height: 48px;
  display: flex;
  align-items: center;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tab {
  padding: 8px 16px;
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 1px solid transparent;

  p {
    margin: 0;
    color: black;
    font-size: 14px;
  }
}

.activeTab {
  border-bottom: 1px solid #4ef09d;

  p {
    color: #4ef09d;
  }
}

.defaultTab {
  border-bottom: 1px solid rgba(29, 29, 29, 0.12);
}