.cryptoContainer {
  margin: 12px 120px;
  border: 1px solid var(--border--color);
  border-radius: 6px;
  width: 100%;
  min-height: 400px;
}

@media screen and (max-width: 768px) {
  .cryptoContainer {
    margin: 20px 40px;
  }
}