.cryptoContainer {
  margin: 12px 24px;
  border: 1px solid rgba(29, 29, 29, 0.12);
  border-radius: 6px;
}

.filterButtonsContainer {
  padding: 8px 12px;
}

.filterButtons {
  width: 180px;
  height: 48px;
  display: flex;
  align-items: center;
  border: 0.4px solid rgba(22, 22, 22, 0.43);
  border-radius: 4px;
}