.ordersListSummary {
  border: 0.3px solid rgba(17, 17, 17, 0.344);
  margin: 40px 20px;
}

.ordersListSummaryLabels,
.ordersListSummaryValues {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ordersListSummaryLabels {
  border-bottom: 0.3px solid rgba(17, 17, 17, 0.344);
  background-color: #e5e7f0;
}

.ordersListSummaryLabels p {
  font-weight: 500;
}

.ordersListSummaryLabels p,
.ordersListSummaryValues p {
  display: flex;
  justify-content: center;
  border-left: 0.3px solid rgba(17, 17, 17, 0.344);
  font-size: 12px;
  padding: 6px;
}

.ordersListSummaryLabels p:last-child,
.ordersListSummaryValues p:last-child {
  border-left: none;
}