.ordersListSummary {
  border: 0.01875rem solid var(--border--color);
  margin: 2.5rem 1.25rem;
}

.ordersListSummaryLabels,
.ordersListSummaryValues {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ordersListSummaryLabels {
  border-bottom: 0.01875rem solid var(--border--color);
  background-color: var(--title--bg);
}

.ordersListSummaryLabels p {
  font-weight: 500;
  text-align: center;
}

.ordersListSummaryLabels p,
.ordersListSummaryValues p {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  padding: 0.375rem;
}

@media screen and (max-width: 768px) {
  .ordersListSummary {
    margin: 1.25rem 0.5rem;
  }
}