.ordersListSummary {
  border: 0.3px solid var(--border--color);
  margin: 40px 20px;
}

.ordersListSummaryLabels,
.ordersListSummaryValues {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ordersListSummaryLabels {
  border-bottom: 0.3px solid var(--border--color);
  background-color: var(--title--bg);
}

.ordersListSummaryLabels p {
  font-weight: 500;
  text-align: center;
}

.ordersListSummaryLabels p,
.ordersListSummaryValues p {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 6px;
}


@media screen and (max-width: 768px) {
  .ordersListSummary {
    margin: 20px 8px;
  }
}