.paginationControls {
  padding: 2rem 1.125rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem; 
}

.paginationButton {
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 50%;
  background-color: var(--title--bg);
  width: 2.5rem; 
  height: 2.5rem;
}

.paginationButton:hover {
  box-shadow: 0 0.25rem 0.5rem var(--border--color); 
}

.paginationCounter {
  color: var(--text-color);
}
