.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  box-shadow: 0 -0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.12);
}

.footerSection {
  line-height: 1.125rem;
  cursor: pointer;
}

.footerTitle {
  font-weight: 700;
  font-size: 0.875rem;
  padding-bottom: 0.25rem;
}

.footerItem {
  font-size: 0.75rem;
}

@media screen and (max-width: 48rem) {

  .footer {
    padding: 1.375rem 0.75rem;
  }

  .footerTitle {
    font-weight: 500;
    font-size: 0.75rem;
  }
}