.orderResultHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.875rem;
}

.orderResultTitle {
  font-size: 0.875rem;
  font-weight: 500;
}

.closeButton {
  background: none;
  border: none;
  color: var(--button--color);
  font-size: 1.125rem;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.closeButton:hover {
  color: rgba(241, 15, 15, 0.842);
  transform: scale(1.1);
}

.orderResultContainer {
  border: 0.01875rem solid var(--border--color);
}

.orderResultInfo,
.orderResultValues {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.orderResultInfo {
  border-bottom: 0.01875rem solid var(--border--color);
  background-color: var(--title--bg);
}

.orderResultLabel,
.orderResultValue {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  text-align: center;
}