@font-face {
  font-family: 'Vazir';
  src: url('../assets/fonts/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('../assets/fonts/Vazirmatn-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Vazir';
  src: url('../assets/fonts/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

html {
  box-sizing: border-box;
  direction: rtl;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Vazir', sans-serif;
  font-weight: 400
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.light {
  --bg-color: #fff;
  --text-color: rgb(8, 8, 8);
  --border--color: rgba(29, 29, 29, 0.12);
  --title--bg: #e5e7f0;
  --button--color: #333;
  --boxShadow--color: #fff;
  --border--input: #ccc;
  --hover--color: #b0b7d3;
}

.dark {
  --bg-color: #2d2d2d;
  --text-color: #cacaca74;
  --border--color: rgba(198, 198, 198, 0.12);
  --title--bg: #3d3d3d74;
  --button--color: #0f0e0e;
  --boxShadow--color: #313131;
  --border--input: #757575;
  --hover--color: #222222;
}

body {
  background-color: var(--bg-color);
}

p,
h2,
h3 {
  color: var(--text-color);
}