.filterButtonsContainer {
  padding: 8px 18px;
}

.filterButtons {
  width: 180px;
  height: 48px;
  display: flex;
  align-items: center;
  border: 0.4px solid rgba(22, 22, 22, 0.43);
  border-radius: 4px;
}