.transactionsContainer {
  padding: 28px 40px;
}

.transactionsHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.3px solid rgba(17, 17, 17, 0.344);
  justify-items: center;
}

.transactionsRows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.3px solid rgba(17, 17, 17, 0.344);
  justify-items: center;
}

.transactionsRows:nth-last-child(1) {
  border-bottom: none
}