.transactionsContainer {
  padding: 28px 40px;
  width: 100%;
}

.transactionsHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.3px solid rgba(17, 17, 17, 0.344);
  justify-items: center;
  padding: 4px 0;
}

.transactionsRows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.3px solid rgba(17, 17, 17, 0.344);
  justify-items: center;
  padding: 4px 0;
}

.transactionsRows:nth-last-child(1) {
  border-bottom: none
}

.transactionsHeaderItem,
.transactionsValue {
  font-size: 12px;
}

.transactionsHeaderItem {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .transactionsContainer {
    padding: 22px 14px;

  }
}