.filterButton {
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  font-family: 'Vazir', sans-serif;
}

.filterButton.active {
  background-color: #e5e7f0;
  color: #41454a;
}