.ordersListPercentageTitle {
  font-size: 0.75rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

.ordersListInputContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.ordersListInput {
  width: 100%;
  max-width: 12.5rem;
  padding: 0.625rem 0.75rem;
  border: 1px solid var(--border--input);
  border-radius: 0.3125rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Vazir';
  height: 2.5rem;
}

.ordersListInput:focus {
  border-color: var(--title--bg);
  box-shadow: 0 0 0.0625rem var(--title--bg);
}

.ordersListButton {
  padding: 0.625rem 0.75rem;
  margin-left: 0.625rem;
  font-size: 0.75rem;
  background-color: var(--title--bg);
  color: var(--text-color);
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: 'Vazir';
  height: 2.5rem;
}

.ordersListButton:hover {
  background-color: var(--hover--color);
}

.ordersListButton:disabled {
  background-color: #f5f6fb;
}

.ordersListButton:active {
  background-color: #b0b7d3;
}

.ordersListButton:focus {
  outline: none;
  box-shadow: 0 0 0.0625rem #b0b7d3;
}

.errorMessage {
  font-size: 0.75rem;
  color: rgba(241, 15, 15, 0.842);
  padding-top: 0.75rem;
}

@media screen and (max-width: 768px) {
  .ordersListButton {
    width: 12.5rem;
  }
}