.orderRows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.3px solid rgba(17, 17, 17, 0.344);
  justify-items: center;
  cursor: pointer;
  padding: 4px 0;
}

.orderRows:hover {
  background-color: #e5e7f0;
}

.orderRows:nth-last-child(1) {
  border-bottom: none
}

.orderRows p {
  font-size: 12px;
}